
/*SECTIONS*/
section {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 5px;
    align-items: center;
}

section h2 {
     color: #383838;
     font-size: 35px;
     font-weight: 400;
     margin-bottom: 5px;
}

section img {
    height: 50%;
}

section a {
    height: 50%;
    margin-top: 40px;
    margin-left: 35px;
}

#id_bloque_tienda
{
    text-decoration: none; /* apagamos línea hipervínculo */
}

section:nth-child(-n+6) {
    background-image: linear-gradient(to top, #e9e9e7 75%, #efeeec 100%);
}