body {
    background-color: #383838;
    }
    
    .container {
    background-color: #ECECEC;
    width: 95%;
    height: 450px;
    display: flex;
    margin: 2em auto;
    margin-top: 15%;
    }
    
    .logoRegister {
    max-width: 60%;
    }
    
    .container-logo{
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #2e2e2e;
    padding: 2rem 0;
    }
    
    .container-form {
    width: 80%;
    padding: 2.5rem;
    } 
    
    h1 {
    text-transform: uppercase;
    font-size: 22px;
    color: #383838;
    margin-bottom: 10px;
    }
    
    .form {
    color: #383838;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    }
    
    .form-field {
     display: flex;
     flex-direction: column;
    } 
    
    .form-label {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 25px;
    }
    
    .form-input {
    background: none;
    border: none;
    border-bottom: 1px solid #383838;
    color: inherit;
    font-size: 20px;
    }
    
    .form-submit {
    width: 20%;
    background: #2e2e2e;
    border: none;
    padding: 8px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ECECEC;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    }
    
    input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    }
    
    p {
    font-size: 20px;
    color: #383838;
    font-weight: 300;
    display: flex;
    justify-content: flex-end; 
    }
      
    #link-login {
        color: #2e2e2e;
        text-transform: uppercase;  
    }